<%= form_for(@betasignup) do |f| %>
  <% if @betasignup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@betasignup.errors.count, "error") %> prohibited this betasignup from being saved:</h2>

      <ul>
      <% @betasignup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :email, :placeholder => 'Your email' %> <%= f.submit 'Signup', :class => 'btn btn-danger', :id => 'submitbeta' %>
  </div>
<% end %>
