<!DOCTYPE htmlPUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "custom"     , :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Simonetta:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="navbar">
		<h1 id="logo">MENUTASTIC</h1><br/>
		<p id="uvp">Attract customers to your restaurant with a beautiful and functional website.</p>
	</div>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>
